.hide {
    display: none;
}

.car, .enemy {
    width: 50px;
    height: 100px;
    background: transparent url(./image/super.png) center / cover no-repeat;
    position: absolute;
    left: 125px;
    bottom: 10px;
}

.start {
    position: absolute;
    top: 10%;
    left: 8%;
    width: 250px;
    height: 25px;
    background-color: orange;
    border: #222 1px solid;
    border-radius: 9px;
    padding: 1em;
    text-align: center;
}

.game{
    height: 100vh;
}

.gameArea {
    width: 300px;
    height: 100%;
    position: relative;
    margin: auto;
    background: #222;
    overflow: hidden;
}

.line {
    position: absolute;
    width: 10px;
    height: 50px;
    background-color: #ffffff;
    left: 145px;
}